{% assign teaching = site.data.data.teaching %}
{% if teaching %}
<section class="experience">
    <h2 class="title">Teaching</h2>
    {% for t in teaching %}
        <div class="experience-item">
            <div class="role">
                {{t.class}}
            </div>
            <div class="company">
                {{t.org}} 
                <span class="time">{{t.time}}</span>
            </div> 
            <div class="details">{{t.details}}</div>
        </div>
       
    {% endfor %}
</section>
{% endif %}