@media print {
    @page {
        size: A4;
    }
    
    html, body {
        height: 100%; 
        margin: 0; 
        padding: 0;
    }

    .container {
        box-shadow: none;
        background-color: #ffffff;
        width: 1000px;
        .header {
            input, label {
                display: none;
            }
        }
    }
}