@media print {
    @page {
        size: A4;
    }
    
    html, body {
        height: 100%;
        margin: 0; 
        padding: 0;
    }

    .container {
        // Verically center.
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        box-shadow: none;
        background-color: #ffffff;
        width: 1000px;
        .header {
            input, label {
                display: none;
            }
        }
    }
}