@media print {
    @page {
        size: auto;
        margin: 0;
        padding: 0;
    }
    
    html, body {
        margin: 0; 
        padding: 0;
        height: 100%;
    }

    .container {
         // Tune this to fit on one page when content changes.
        width: 780px;

        box-shadow: none;
        background-color: #ffffff;
        .header {
            input, label {
                display: none;
            }
        }
    }
}